*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    background-color: rgb(143, 158, 158);
}
.wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculadora{
    width:fit-content;
    position: relative;
}
.num_btn{
    height: 3rem;
    width: 3rem;
    font-weight: bold;
    background-color: rgba(177, 112, 112, 0.993);
    border: none;
    margin-top: 0.2rem;
    border-radius: 0.1rem;
}
.num_btn:nth-child(21){
    position: absolute;
    height: 6.2rem;
    margin-left:0.2rem;
}
.textinput{
    width: 12.4rem;
    height: 2.5rem;
    margin-bottom: 0.25rem;
    text-align: end;
    font-size: 1.5rem;
}